@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #575ca1;
    padding: 100px;
    font-size: 14px;
    color: #151515;
}

.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #fff;
    padding-block: 15px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    right: 0;
    left: 0;
}
.navbar a{
    text-decoration: none;
    color: inherit;
    margin-right: 2rem;
}
.logo{
    margin-right: 50px;
    font-size: 3rem;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px; 
}
#toggler,
.navbar label{
    display: none;
}

@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; 
        overflow: hidden; 
    }
    .list{
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex; 
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}